<div class="container" style="margin-top: 100px" ng-controller="LoginController" ng-init="tab = 'login'">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" ng-class="{'active':tab == 'login'}" ng-click="tab = 'login'">Авторизация</a>
            </div>
            <div class="col-xs-6">
              <a href="#" ng-class="{'active':tab == 'register'}" ng-click="tab = 'register'">Регистрация</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              <!-- Sign In form -->
              <form action="/login" method="post" ng-show="tab == 'login'">
                <div class="form-group">
                  <input type="text" name="username" tabindex="1" class="form-control" placeholder="Имя пользователя">
                </div>
                <div class="form-group">
                  <input type="password" name="password" tabindex="2" class="form-control" placeholder="Пароль">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" tabindex="4" class="form-control btn btn-login" value="Войти">
                    </div>
                  </div>
                </div>
              </form>

              <!-- Sign Up form-->
              <form ng-show="tab == 'register'">
                <div class="form-group">
                  <input type="text" tabindex="1" class="form-control" placeholder="Имя пользователя"
                         ng-model="newUser.name">
                </div>
                <div class="form-group">
                  <input type="email" tabindex="1" class="form-control" placeholder="Email"
                         ng-model="newUser.email">
                </div>
                <div class="form-group">
                  <input type="password" tabindex="2" class="form-control" placeholder="Пароль"
                         ng-model="newUser.password">
                </div>
                <div class="form-group">
                  <input type="password" tabindex="2" class="form-control" placeholder="Повторите пароль">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" tabindex="4" class="form-control btn btn-register" value="Зарегистрироваться"
                             ng-click="register()">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>